:php
    printf("<section><div class='inner'><div class='footer-image' data-bg='%s'></div></div></section>", $header["bg_image"]);
footer.flex.centered
    .col-wide
        :php
            printf("<p>%s</p>",$footer["copyright_text"]);