:php
     global $wp_query;
     query_posts(array(
         'post_type' => 'sitesettings',
         'nopaging' => true,
         'posts_per_page' => 1
     ));
     $customers = [];
     while(have_posts()) : the_post();
        $header = get_field("header");
        $footer = get_field("footer");
     endwhile;
     wp_reset_query();
header.page-header#page-header
  :php
    printf("<div class='header-image' data-bg='%s'></div>", $header["header_tile_image"]);
  .inner.max-width
    .logo
      :php
        printf("<a href='/'><h1>%s</h1></a>", $header["logo_text"]);
    nav
      ul
        :php
          foreach($header["menu_links"] as $idx=>$link) {
            $children = "";
            if ($link["children"]) {
              $children = "<ul>";
              foreach($link["children"] as $lidx=>$child_link) {
                $children .= sprintf("<li><a href='%s'>%s</a></li>", $child_link["link"],$child_link["display_text"]);
              }
              $children .="</ul>";
            }
            printf("<li><a href='%s'>%s</a>%s</li>",$link["link"], $link["display_text"],$children);
          }
